# Dependency directories
.theme/node_modules/

# Nuxt build
.theme/.nuxt
.theme/.nitro
.theme/.cache
.theme/.output

# Nuxt generate
.theme/dist

# vscode files
.editorconfig
.vscode
.vs

# Vim swap files
*.swp

# log file
*.log*

# env files
.theme/.env.local

# prebuild files
.theme/.public
.theme/.temp
.theme/content
