@reference "./theme.css";

@layer utilities {
  li {
    @apply list-[square];
  }

  a {
    @apply underline;
  }

  img.nuxt:is(.logo) {
    @apply content-[url(https://nuxt.com/assets/design-kit/logo-green-black.svg)];

    @media (prefers-color-scheme: dark) {
      @apply content-[url(https://nuxt.com/assets/design-kit/logo-green-white.svg)];
    }
  }

  .c--basic {
    @apply flex justify-center bg-yellow-p3 text-yellow-n4 text-[2rem] font-[Franklin_Gothic_Medium]
  }
}
