# Project root relative to this config file
projectRoot: ../../

# Log settings
log:
  debug: false # Enable debug logs
  quiet: false # Disable logs completely

# Tasks to run in given order
tasks:
  - clean:
      directories:
        - ./.theme/.public
        - ./.theme/content
  - touch:
      path: ./.theme/.env.local
  - copy:
      extension: .md
      source: ./
      target: ./.theme/content
  - rename:
      source: ./.theme/content
      find: README.md
      replace: index.md
  - replaceContent:
      extension: .md
      source: ./.theme/content
      oldText: README.md
      newText: index.md

  # copy all assets to .public
  - copy:
      source: ./.theme/public
      target: ./.theme/.public
  - copy:
      extension: .png
      source: ./
      target: ./.theme/.public
