.info[data-v-a678048d]{border-color:var(--color-blue-n1)}.warning[data-v-a678048d]{border-color:var(--color-orange-0)}.success[data-v-a678048d]{border-color:var(--color-green-n1)}.default[data-v-a678048d]{border-color:var(--color-fg)}
